/* Footer (full-width) that touches the main panel */
.site-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(0, 37, 80);
  color: #fff;
  padding: 1rem;
  text-align: center;
  align-items: center;
  margin: 0; /* no gap above */
  gap: 2rem;
}
