// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto > {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  font-family: "Roboto", sans-serif;
}

/* All links site-wide */
a {
  color: #fff; /* white */
  text-decoration: none; /* optional: remove underline */
}

a:hover,
a:focus {
  color: #fff; /* keep white on hover/focus */
  text-decoration: underline; /* optional: show underline on hover */
}

a:active,
a:visited {
  color: #fff; /* keep white when active/visited */
}

body {
  background-color: rgb(55, 55, 117);
}
main > img {
  width: 300px;
  float: right;
  margin: 1rem;
}
