// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto > {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Page base */
html,
body {
  margin: 0;
}

:root {
  --gutter: clamp(1rem, 10rem, 10rem); /* grows with viewport */
}

body {
  background: #373775;
  color: #fff;
  background-color: rgb(55, 55, 117);
}

/* All links site-wide */
a {
  color: #fff; /* white */
  text-decoration: none; /* optional: remove underline */
}

a:hover,
a:focus {
  color: #fff; /* keep white on hover/focus */
  text-decoration: underline; /* optional: show underline on hover */
}

a:active,
a:visited {
  color: #fff; /* keep white when active/visited */
}
