html,
body {
  margin: 0;
  color: white;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 37, 80);
  margin: 0; /* no outer gap */
  border: 0; /* ensure no border */
  padding: 0.75rem 1rem; /* inner spacing only */
  box-shadow: 0 0 12px -2px black;
}

.topbar .logo h1 {
  margin: 0;
}
.topbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0; /* no outer gap */
  padding: 0;
}

h2 {
  margin: 0; /* no outer gap */
  border: 0; /* ensure no border */
  padding: 3rem 2rem; /* inner spacing only */
  font-size: 2.5em;
}

H3 {
  font-family: "Pacifico";
  margin: 0; /* no outer gap */
  border: 0; /* ensure no border */
  padding: 3rem 2rem; /* inner spacing only */
  font-size: 2em;
  h1 {
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
}
